<ul class="tree">
    <li *ngFor="let node of children">
        <div class="node-value">
            <i class="indicator fa " [ngClass]="{'fa-caret-right': !node.isExpanded, 'fa-caret-down': node.isExpanded}" (click)="node.expand()"></i>
            <a href="javascript:void(0)" (click)="selectNode(node)">{{ node.name }}</a>
            <div *ngIf="menuItems" class="node-menu" dropdown>
                <i class="fa fa-bars" dropdownToggle></i>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                    <a *ngFor="let menuItem of menuItems" class="dropdown-item" href="javascript:void(0)" (click)="menuItemSelected(menuItem.action, node)">
                        {{menuItem.name}}
                    </a>
                </div>
            </div>
        </div>
        <tree-children *ngIf="node.isExpanded" [config]="config" [root]="node"></tree-children>
    </li>
</ul>