<ul class="tree">
    <li *ngFor="let node of children">
        <!-- Default tree node template -->
        <div class="node-value" [ngClass]="{'node-selected': node.isSelected}">
            <i class="indicator fa" *ngIf="node.hasChildren" [ngClass]="{'fa-caret-right': !node.isExpanded, 'fa-caret-down': node.isExpanded}"
                (click)="node.expand()"></i>
            <div class="no-children" *ngIf="!node.hasChildren"></div>
            <div *ngIf="!shouldShowInputForTreeNode(node)">
                <a href="javascript:void(0)" (click)="selectNode(node)">
                    <span *ngIf="!templates.treeNodeTemplate">{{ node.name }}</span>
                    <ng-container   [ngTemplateOutlet]="templates.treeNodeTemplate" 
                                    [ngTemplateOutletContext]="{ $implicit: node, node: node}">
                    </ng-container>
                </a>
            </div>
            
            <div *ngIf="shouldShowInputForTreeNode(node)">
                <input type="text " id="input-normal " name="input-normal " class="form-control " placeholder="Normal ">
            </div>

            <div *ngIf="menuItems" class="node-menu" dropdown>
                <i class="fa fa-bars" dropdownToggle></i>
                <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                    <a *ngFor="let menuItem of menuItems" class="dropdown-item" href="javascript:void(0)" (click)="menuItemSelected(menuItem.action, node)">
                        {{menuItem.name}}
                    </a>
                </div>
            </div>
        </div>
        <tree-children *ngIf="node.isExpanded" [config]="config" [root]="node" [templates]="templates"></tree-children>
    </li>
</ul>