<div class="main1">
    <div class="content">
        <h2>{{currentContent.title}}</h2>
    </div>
    <div class="blog">
        <div class="blog_list">
            <h4><a href="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h4>
            <h5>January 3rd, 2013 , Posted by&nbsp;<a href="index.html">{{currentContent.author}}</a></h5>
            <div class="blog_para">
                <img src="images/det_pic.jpg" alt="">
                <p class="para1" [innerHTML]="currentContent.content"></p>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>