<div id="adbox">
    <h1>{{currentContent.title}}</h1>
    <div class="frame">
        <div class="section" [innerHTML] ="currentContent.summary"></div>
        <div class="section">
            <h2>Lorem ipsum dolor sit</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet nulla ac purus iaculis quis fermentum lacus sodales.
                Nulla facilisi.
            </p>
        </div>
    </div>
</div>
<div id="articles">
    <div>
        <div class="frame">
            <img src="assets/images/sushi9.png" alt="Img" height="213" width="218">
            <h2>Lorem ipsum</h2>
            <p>
                Consectetur adipiscing elit. Sed aliquet nulla ac purus iaculis quis fermentum lacus sodales.
            </p>
            <a href="blog.html" class="more">Learn More</a>
        </div>
        <div class="frame">
            <img src="assets/images/sushi10.png" alt="Img" height="192" width="189">
            <h2>Dolor sit amet</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet nulla ac purus iaculis quis fermentum lacus.
            </p>
            <a href="blog.html" class="more">Learn More</a>
        </div>
        <div id="featured">
            <ul>
                <li>
                    <a href="index.html">
                        <img src="assets/images/sushi1.png" alt="Img">
                        <h3>Lorem Ipsum</h3>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <img src="assets/images/sushi2.png" alt="Img">
                        <h3>Dolor sit amet</h3>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <img src="assets/images/sushi3.png" alt="Img">
                        <h3>Nulla Pretium</h3>
                    </a>
                </li>
                <li>
                    <a href="index.html">
                        <img src="assets/images/sushi4.png" alt="Img">
                        <h3>Curabitur</h3>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="dummy">
</div>