<div class="node-value d-flex" [ngClass]="{'node-selected': node.isSelected}" [draggable]="node.id != '0'"
  [dragData]="node">
  <!-- Node expand icon -->
  <fa-icon *ngIf="node.hasChildren && node.id != '0'" class="mr-1"
    [icon]="node.isExpanded ? ['fas', 'minus-square']: ['fas', 'plus-square']" (click)="node.expand()">
  </fa-icon>
  <span *ngIf="!node.hasChildren" class="no-children mr-1"></span>
  <!-- Node template -->
  <div class="node-template" *ngIf="!(node.isNew || node.isEditing)" (click)="selectNode(node)"
    [ngClass]="{'font-weight-bold': node.isSelected}">
    <ng-container *ngIf="!templates?.treeNodeTemplate">{{ node.name }}</ng-container>
    <ng-container [ngTemplateOutlet]="templates.treeNodeTemplate"
      [ngTemplateOutletContext]="{ $implicit: node, node: node}">
    </ng-container>
  </div>
  <!-- Node inline edit -->
  <div *ngIf="node.isNew || node.isEditing" class="form-group row mb-2">
    <form class="form-inline" (ngSubmit)="submitInlineNode(node)" #inlineNodeForm="ngForm">
      <div class="form-group mx-sm-3">
        <input #nodeInlineInput type="text" class="form-control form-control-sm" required (blur)="nodeOnBlur(node)"
          [(ngModel)]="nodeName" name="name" #name="ngModel" />
      </div>
      <button type="submit" class="btn btn-success btn-sm" [disabled]="!inlineNodeForm.form.valid">Save</button>
      <button type="button" class="btn btn-default btn-sm" (click)="cancelInlineNode(node)">Cancel</button>
    </form>
  </div>
  <!-- Menu Dropdown -->
  <div *ngIf="menuItems && node.id != '0'" class="node-menu ml-auto" dropdown container="body"
    (isOpenChange)="onMenuOpenChange($event, node)">
    <fa-icon class="mr-1" [icon]="['fas', 'bars']" dropdownToggle></fa-icon>
    <div class="cms-dropdown-menu dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
      <a *ngFor="let menuItem of menuItems" class="dropdown-item p-2" href="javascript:void(0)"
        (click)="onMenuItemSelected(menuItem.action, node)">
        {{menuItem.name}}
      </a>
    </div>
  </div>
</div>
