<table class="table table-sm">
  <thead>
    <tr *ngIf="columns">
      <th *ngFor="let col of columns" scope="col">
        <ng-container *ngIf="!columnTemplates || !columnTemplates[col.name]?.headerTemplate">{{col.displayName}}
        </ng-container>
        <ng-container *ngIf="columnTemplates && columnTemplates[col.name]?.headerTemplate"
          [ngTemplateOutlet]="columnTemplates[col.name].headerTemplate" [ngTemplateOutletContext]="{column: col}">
        </ng-container>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="rows">
      <tr *ngFor="let row of rows" (click)="rowClick.emit(row)">
        <td *ngFor="let col of columns" scope="col">
          <ng-container *ngIf="!columnTemplates || !columnTemplates[col.name]?.cellTemplate">{{row[col.name]}}
          </ng-container>
          <ng-container *ngIf="columnTemplates && columnTemplates[col.name]?.cellTemplate"
            [ngTemplateOutlet]="columnTemplates[col.name].cellTemplate"
            [ngTemplateOutletContext]="{ row: row, column: col, value: row[col.name]}">
          </ng-container>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
