<div class="cms-layout app">
    <as-split gutterSize="4" unit="pixel" direction="vertical" (gutterClick)="toggleHeader()">
        <!-- cms header -->
        <as-split-area [size]="layoutConfig.headerSize" lockSize="true">
            <cms-header>
                <ng-template [cmsInsertPoint]="'top'"></ng-template>
            </cms-header>
        </as-split-area>
        <!-- cms main body -->
        <as-split-area size="*">
            <as-split unit="pixel" gutterSize="2" (dragStart)="onDragStart()" (dragEnd)="onDragEnd($event)">
                <!-- cms left panel -->
                <as-split-area [size]="layoutConfig.panels[0].size" order="1"
                    [visible]="layoutConfig.panels[0].visible">
                    <tabset class="tab-container-left">
                        <tab *ngFor="let tabz of leftTabs" [heading]="tabz.title">
                            <ng-template [cmsInsertPoint]="tabz.name"></ng-template>
                        </tab>
                    </tabset>
                </as-split-area>
                <!-- end of cms left panel -->
                <!-- cms main content -->
                <as-split-area size="*" order="2">
                    <as-split class="has-lock-area" gutterSize="0" unit="pixel" direction="vertical">
                        <!-- header in main content -->
                        <as-split-area size="40" lockSize="true">
                            <div>
                                <button type="button" class="btn btn-sm"
                                    [ngClass]="{'btn-outline-primary': layoutConfig.panels[0].visible, 'btn-primary': !layoutConfig.panels[0].visible}"
                                    (click)="toggleLeftPanel()">Left</button>
                                <button type="button" class="btn btn-sm float-right"
                                    [ngClass]="{'btn-outline-primary': layoutConfig.panels[2].visible, 'btn-primary': !layoutConfig.panels[2].visible}"
                                    (click)="toggleRightPanel()">Right</button>
                            </div>
                        </as-split-area>
                        <!-- header in main content -->
                        <as-split-area size="*">
                            <main class="main h-100">
                                <ng-content></ng-content>
                                <router-outlet></router-outlet>
                            </main>
                        </as-split-area>
                    </as-split>
                </as-split-area>
                <!-- end of cms main content -->
                <!-- cms right panel -->
                <as-split-area [size]="layoutConfig.panels[2].size" order="3"
                    [visible]="layoutConfig.panels[2].visible">
                    <tabset class="tab-container-right">
                        <tab *ngFor="let tabz of rightTabs" [heading]="tabz.title">
                            <ng-template [cmsInsertPoint]="tabz.name"></ng-template>
                        </tab>
                    </tabset>
                </as-split-area>
                <!-- end of cms right panel -->
            </as-split>
        </as-split-area>
        <!-- end of cms main body -->
    </as-split>
</div>