<div class="cms-layout app header-fixed">
    <cms-header>
        <ng-template [cmsInsertPoint]="'top'"></ng-template>
    </cms-header>
    <div class="app-body">
        <as-split gutterSize="2">
            <as-split-area size="30" order="1" [visible]="leftPanelVisible">
                <tabset class="tab-container-left">
                    <tab *ngFor="let tabz of leftTabs" [heading]="tabz.title">
                        <ng-template [cmsInsertPoint]="tabz.content"></ng-template>
                    </tab>
                </tabset>
            </as-split-area>
            <as-split-area size="40" order="2">
                <as-split gutterSize="0" unit="pixel" direction="vertical">
                    <as-split-area size="40" lockSize="true">
                        <div>
                            <button type="button" class="btn btn-sm"
                                [ngClass]="{'btn-outline-primary': leftPanelVisible, 'btn-primary': !leftPanelVisible}"
                                (click)="toggleLeftPanel()">Left</button>
                            <button type="button" class="btn btn-sm float-right"
                                [ngClass]="{'btn-outline-primary': rightPanelVisible, 'btn-primary': !rightPanelVisible}"
                                (click)="toggleRightPanel()">Right</button>
                        </div>
                    </as-split-area>
                    <as-split-area size="*">
                        <main class="main">
                            <router-outlet></router-outlet>
                        </main>
                    </as-split-area>
                </as-split>
            </as-split-area>
            <as-split-area size="30" order="3" [visible]="rightPanelVisible">
                <tabset class="tab-container-right">
                    <tab *ngFor="let tabz of rightTabs" [heading]="tabz.title">
                        <ng-template [cmsInsertPoint]="tabz.content"></ng-template>
                    </tab>
                </tabset>
            </as-split-area>
        </as-split>
    </div>
</div>