.app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app-body {
  height: calc(100% - 55px);
}

.tab-container-right .tab-content,
.tab-container-left .tab-content {
  height: calc(100% - 39px);

  .tab-pane {
    padding: 0px;
    overflow: auto;
  }

  tab {
    height: 100%;
  }
}

/* Custom gutter style */
.app as-split {

  .as-split-gutter {
    background-color: grey !important;
    position: relative;
  }

  .as-split-gutter-icon {
    background-image: none !important;
    background-color: black;
    transition: opacity .3s;
    opacity: 0;
    position: absolute;
  }

  .as-split-gutter.as-dragged .as-split-gutter-icon,
  .as-split-gutter-icon:hover {
    opacity: .1;
  }

  &.as-horizontal>.as-split-gutter {
    .as-split-gutter-icon {
      width: 13px !important;
      left: -6px;
      right: 6px;
    }
  }

  &.as-vertical>.as-split-gutter {
    .as-split-gutter-icon {
      height: 13px !important;
      top: -4.5px;
      bottom: 4.5px;
    }
  }
}
