<div class="body" *ngIf="startPage$ | async as startPage">
  <!-- HEADER -->
  <div class="py-1 bg-primary">
    <div class="container">
      <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
        <div class="col-lg-12 d-block">
          <div class="row d-flex">
            <div class="col-md pr-4 d-flex topper align-items-center">
              <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span>
              </div>
              <span class="text" [cmsText]="startPage.phone"></span>
            </div>
            <div class="col-md pr-4 d-flex topper align-items-center">
              <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                  class="icon-paper-plane"></span></div>
              <span class="text" [cmsText]="startPage.email"></span>
            </div>
            <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
              <span class="text" [cmsText]="startPage.headerShippingText"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- NAV -->
  <nav-bar [menuItems]="menuItems$ | async" [startPage]="startPage"></nav-bar>

  <!-- MAIN BODY -->
  <router-outlet></router-outlet>

  <!-- FOOTER -->
  <footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row">
        <div class="mouse">
          <a class="mouse-icon" onclick="goHere()">
            <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
          </a>
        </div>
      </div>
      <div class="row mb-5" [cmsContentArea]="startPage.footerContent">
      </div>
      <div class="row">
        <div class="col-md-12 text-center" [cmsXhtml]="startPage.footerText">
        </div>
      </div>
    </div>
  </footer>

</div>
