<div class="body" *ngIf="startPage$ | async as startPage">
    <div class="wrap">
        <div class="wrapper">
            <!-- start header-->
            <div class="header" *ngIf="menuItems$ | async as menuItems">
                <div class="logo">
                    <a href="javascript:void(0)" [routerLink]="['']">
                        <img *ngIf='startPage.logo' [cmsImage]="startPage.logo">
                    </a>
                </div>
                <div class="cssmenu">
                    <ul>
                        <li><a [routerLink]="['']" routerLinkActive="active">Home</a></li>
                        <li *ngFor="let item of menuItems" routerLinkActive="active">
                            <a href="javascript:void(0)" [routerLink]="[item.linkUrl]">{{item.name}}</a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="top-nav">
                    <nav class="clearfix">
                        <ul>
                            <li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
                            <li *ngFor="let item of menuItems">
                                <a href="javascript:void(0)" [routerLink]="[item.linkUrl]">{{item.name}}</a>
                            </li>
                        </ul>
                        <a href="#" id="pull">Menu</a>
                    </nav>
                </div>
            </div>
            <!-- start content -->
            <router-outlet></router-outlet>
            <!-- <cms-content></cms-content> -->
        </div>
    </div>
    <!-- start foorter -->
    <div class="footer_bg">
        <div class="wrap">
            <div class="wrapper">
                <div class="footer">
                    <div class="span_1_of_3">
                        <h3>Contact Us</h3>
                        <div class="footer_grid">
                            <div class="foot_img">
                                <img src="assets/images/home.png" alt="" />
                            </div>
                            <div class="foot_text">
                                <p>500 Lorem Ipsum Dolor Sit,</p>
                                <p>22-56-2-9 Sit Amet, Lorem,</p>
                                <p>USA</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="footer_grid">
                            <div class="foot_img">
                                <img src="assets/images/call.png" alt="" />
                            </div>
                            <div class="foot_text">
                                <p>(416) 431-4437</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <a href="">
                            <h4 class="mail">info(at)mycompany.com</h4>
                        </a>
                        <div class="foot_nav">
                            <ul>
                                <li><a href="#"><img src="assets/images/soc_icon1.png" alt="" /></a></li>
                                <li><a href="#"><img src="assets/images/soc_icon2.png" alt="" /></a></li>
                                <li><a href="#"><img src="assets/images/soc_icon3.png" alt="" /></a></li>
                                <li><a href="#"><img src="assets/images/soc_icon4.png" alt="" /></a></li>
                                <div class="clear"></div>
                            </ul>

                        </div>
                    </div>
                    <div class="span_1_of_3">
                        <h3>Latest Tweets</h3>
                        <div class="footer_grid">
                            <div class="foot_img">
                                <img src="assets/images/twitter.png" alt="" />
                            </div>
                            <div class="foot_text">
                                <p>Confucius: Lorem Ipsum is simply dummy text of the printing.<br />
                                    <b>#famousquotes</b></p>
                                <h4>8 days ago</h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="footer_grid">
                            <div class="foot_img">
                                <img src="assets/images/twitter.png" alt="" />
                            </div>
                            <div class="foot_text">
                                <p>Bruce Lee: Lorem Ipsum is simply dummy text of the printing.<br />
                                    <b>#famousquotes</b></p>
                                <h4>1 hour ago</h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="span_1_of_3">
                        <h3>Latest Posts</h3>
                        <a href="">
                            <h5 class="fountain">Starting a new journey today</h5>
                        </a>
                        <a href="">
                            <h5 class="fountain">The life of a web designer</h5>
                        </a>
                        <a href="">
                            <h5 class="fountain">Your guide to navigating Around to wordoress</h5>
                        </a>
                        <a href="">
                            <h5 class="fountain">introduction to HTML5 and CSS3</h5>
                        </a>
                        <a href="">
                            <h5 class="fountain">The life of a web designer</h5>
                        </a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- start footer copy -->
    <div class="wrap">
        <div class="wrapper">
            <div class="copy" [cmsXhtml]="startPage.footerText">

            </div>
        </div>
    </div>
</div>