<div class="main1">
    <div class="content">
        <h2>The standard chunk of Lorem Ipsum used since the 1500s is reproduced </h2>
    </div>
    <div class="blog">
        <div class="blog_list">
            <h4><a href="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h4>
            <h5>January 3rd, 2013 , Posted by&nbsp;<a href="index.html">H. Rackham</a></h5>
            <div class="blog_para">
                <p class="para1"><a href="details.html" rel="lightbox"><img src="images/pic9.jpg" alt=""></a>"On the
                    other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                    demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                    the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their
                    duty through weakness of will,</p>
                <div class="read_more">
                    <a class="btn" href="details.html">Read More</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="blog_list">
            <h4><a href="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h4>
            <h5>march 26th, 2013 , Posted by&nbsp;<a href="index.html">J. Smith</a></h5>
            <div class="blog_para">
                <p class="para1"><a href="details.html" rel="lightbox"><img src="images/pic10.jpg" alt=""></a>"On the
                    other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                    demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                    the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their
                    duty through weakness of will,</p>
                <div class="read_more">
                    <a class="btn" href="details.html">Read More</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="blog_list">
            <h4><a href="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></h4>
            <h5>Auguest 3rd, 2013 , Posted by&nbsp;<a href="index.html">H. Rackham</a></h5>
            <div class="blog_para">
                <p class="para1"><a href="details.html" rel="lightbox"><img src="images/pic11.jpg" alt=""></a>"On the
                    other hand, we denounce with righteous indignation and dislike men who are so beguiled and
                    demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee
                    the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their
                    duty through weakness of will,</p>
                <div class="read_more">
                    <a class="btn" href="details.html">Read More</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>