<div class="banner-division d_img">
    <img src="images/banner.png" alt="">
</div>

<div class="banner-division">
    <h3>Looking for rockstar graphic designers?</h3>
    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
        opposed to using 'Content here, content here', making it look like readable English. </p>
    <a href="#">Read more</a>
</div>