<div class="banner-division d_img">
    <!-- <ng-container [cmsProperty]="getProperty('image')"></ng-container> -->
    <img [cmsImage]="currentContent.image" />
</div>

<div class="banner-division">
    <h3 [cmsProperty]="getProperty('header')">
        <!-- <ng-container [cmsProperty]="getProperty('header')"></ng-container> -->
    </h3>
    <div [cmsProperty]="getProperty('summary')">
        <!-- <ng-container [cmsProperty]="getProperty('summary')"></ng-container> -->
    </div>
    <a [href]="currentContent.link">Read more</a>
</div>
<div class="clear"></div>