@import "bootstrap-variables";

@import '~bootstrap/scss/bootstrap';

@import "~quill/dist/quill.core";
@import "~quill/dist/quill.snow";

@import 'core/core';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  .app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}
