<div id="page">
    <div id="header">
        <div id="sidebar">
            <a href="index.html" id="logo">
                <img src="assets/images/logo.png" alt="LOGO">
            </a>
            <div id="navigation">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="menu">
                        <a href="menu.html">Menu</a>
                        <div class="sub">
                            <a href="menu.html">Lorem Ipsum</a>
                            <a href="menu.html">Dolor Sit Amet</a>
                            <a href="menu.html">Nulla Pretium</a>
                            <a href="menu.html" class="last-child">Curabitur</a>
                        </div>
                        <span></span>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li class="last selected">
                        <a href="about.html">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="contents">
        <cms-template></cms-template>
    </div>
    <div id="footer">
        <div class="header">
            <div class="body">
                <ul>
                    <li>
                        <h4>Lorem Ipsum</h4>
                        <span>&gt;
                            <a href="#header">Dolor Sit Amet</a>
                        </span>
                        <span>&gt;
                            <a href="#header">Lorem Ipsum</a>
                        </span>
                        <span>&gt;
                            <a href="#header">Nulla Pretium</a>
                        </span>
                    </li>
                    <li>
                        <h4>Dolor Sit Amet</h4>
                        <span>&gt;
                            <a href="#header">Dolor Sit Amet</a>
                        </span>
                        <span>&gt;
                            <a href="#header">Lorem Ipsum</a>
                        </span>
                        <span>&gt;
                            <a href="#header">Nulla Pretium</a>
                        </span>
                    </li>
                    <li>
                        <h4>Nulla Pretium</h4>
                        <span>&gt;
                            <a href="#header">Dolor Sit Amet</a>
                        </span>
                        <span>&gt;
                            <a href="#header">Lorem Ipsum</a>
                        </span>
                        <span>&gt;
                            <a href="#header">Nulla Pretium</a>
                        </span>
                    </li>
                    <li class="last-child">
                        <h4>Curabitur</h4>
                        <span>&gt;
                            <a href="#header">Dolor Sit Amet</a>
                        </span>
                        <span>&gt;
                            <a href="#header">Lorem Ipsum</a>
                        </span>
                        <span>&gt;
                            <a href="#header">Nulla Pretium</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <div id="connect">
                    <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a>
                    <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a>
                    <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a>
                    <a href="http://freewebsitetemplates.com/go/vimeo/" target="_blank" class="vimeo"></a>
                </div>
                <p>
                    Copyright 2023 Company Name. All Rights Reserved.
                </p>
            </div>
        </div>
        <p id="footnote">
            This website template has been designed by
            <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove
            any link to our website from this website template, you're free to use this website template without linking
            back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the
            <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.
        </p>
    </div>
</div>