// Navbar

$navbar-height: 55px !default;
$navbar-bg: #fff !default;
$navbar-border: (bottom: (size: 1px,
    style: solid,
    color: $border-color)) !default;
$navbar-brand-width: 155px !default;
$navbar-brand-bg: #fff !default;
$navbar-brand-logo: url('../../assets/img/logo.png') !default;
$navbar-brand-logo-size: 70px auto !default;
$navbar-brand-border: (bottom: (size: 1px,
    style: solid,
    color: $border-color)) !default;
