<!-- start banner -->
<div class="banner">
    <ng-template [cmsProperty]="getProperty('features')"></ng-template>
</div>

<!-- start content -->
<div class="main">
    <div class="content">
        <h2>latest projects</h2>
    </div>
    <div class="grids_of_4">
        <div class="grid_1_of_4 images_1_of_4">
            <a href="#"><img src="assets/images/pic1.jpg" title="Project1" alt="" /></a>
            <h3><a href="#">PIX web design</a></h3>
            <h4><a href="#">Graphics Design</a></h4>
        </div>
        <div class="grid_1_of_4 images_1_of_4">
            <a href="#"><img src="assets/images/pic2.jpg" title="Project2" alt="" /></a>
            <h3><a href="#">Plugin Planet-WordPress</a></h3>
            <h4><a href="#">print Design</a></h4>
        </div>
        <div class="grid_1_of_4 images_1_of_4">
            <a href="#"><img src="assets/images/pic3.jpg" title="Project3" alt="" /></a>
            <h3><a href="#">Free Application</a> </h3>
            <h4><a href="#">WordPress Theme</a></h4>
        </div>
        <div class="grid_1_of_4 images_1_of_4">
            <a href="#"><img src="assets/images/pic4.jpg" title="Project4" alt="" /></a>
            <h3><a href="#">iPhone Mail App</a></h3>
            <h4><a href="#">Branding</a></h4>
        </div>
        <div class="clear"></div>
    </div>
    <div class="content">
        <h2>how can we help you?</h2>
    </div>
    <div class="grids_of_3">
        <ng-template *ngIf="currentContent.portfolios.length >= 3"
            [cmsContentArea]="currentContent.portfolios.slice(0, 3)"></ng-template>
        <ng-template *ngIf="currentContent.portfolios.length < 3" [cmsContentArea]="currentContent.portfolios">
        </ng-template>
        <div class="clear"></div>
    </div>
    <div class="grids_of_3">
        <ng-template *ngIf="currentContent.portfolios.length > 3" [cmsContentArea]="currentContent.portfolios.slice(4)">
        </ng-template>
        <div class="clear"></div>
    </div>
</div>