<div dragOver class="media-container">
  <div class="drop-zone" dragLeave>
    <file-drop (filesDropped)="onFilesDropped($event)"></file-drop>
  </div>
  <as-split direction="vertical" gutterSize="4">
    <as-split-area size="50">
      <div class="position-relative">
        <cms-tree class="tree-root pl-1 pt-2 d-block" [root]="root" [config]="treeConfig"
          (nodeSelected)="folderSelected$.next($event)" (nodeInlineCreated)="createMediaFolder($event)"
          (nodeInlineUpdated)="updateMediaFolder($event)" (menuItemSelected)="menuItemSelected($event)">
          <ng-template #treeNodeTemplate let-node>
            <span class="text-truncate w-100" [title]="node.contentType"
              [ngClass]="{'media-node': node.id != '0', 'border-bottom': node.isSelected && node.id != '0'}">
              <fa-icon class="mr-1" *ngIf="node.id == 0" [icon]="['fas', 'photo-video']"></fa-icon>
              <fa-icon class="mr-1" *ngIf="node.id != 0" [icon]="['fas', 'folder']"></fa-icon>
              {{node.name}}
            </span>
          </ng-template>
        </cms-tree>
        <div class='toolbar mt-2 mr-1'>
          <button type="button" class="btn btn-xs btn-secondary float-right mr-1" (click)="clickToCreateFolder(root)">
            <fa-icon [icon]="['fas', 'folder-plus']"></fa-icon>
          </button>
        </div>
      </div>
    </as-split-area>
    <as-split-area size="50">
      <div class="list-group list-media" *ngIf="medias$ |async as medias" #mediaItem>
        <a *ngFor="let media of medias" [draggable] [dragData]="media" href="javascript:void(0)"
          class="list-group-item list-group-item-action p-2">
          <div class="d-flex align-items-center">
            <img width='50' class="mr-1" [src]='media.thumbnail | toImgSrc'
              [routerLink]="['content/media', media._id]" />
            <div class="w-100 mr-2 text-truncate" [routerLink]="['content/media', media._id]">{{media.name}}</div>
            <div class="hover-menu ml-auto" dropdown container="body">
              <fa-icon class="mr-1" [icon]="['fas', 'bars']" dropdownToggle></fa-icon>
              <div class="cms-dropdown-menu dropdown-menu dropdown-menu-right" *dropdownMenu
                aria-labelledby="simple-dropdown">
                <a class="dropdown-item p-2" href="javascript:void(0)" [routerLink]="['content/media', media._id]">
                  Edit
                </a>
                <a class="dropdown-item p-2" href="javascript:void(0)">
                  Delete
                </a>
              </div>
            </div>
          </div>
        </a>
      </div>
    </as-split-area>
  </as-split>
</div>
