<div class="main1" *ngIf="portfolioPages$ | async as portfolioPages">
    <div class="content">
        <h2>
            <ng-container [cmsProperty]="getProperty('header')"></ng-container>
        </h2>
    </div>
    <div class="grids_of_4">
        <div *ngFor="let item of portfolioPages.slice(0, 4)" class="grid_1_of_4 images_1_of_4">
            <a href="javascript:void(0)"><img src="" title="Project1" alt=""></a>
            <h3><a [routerLink]="[item.linkUrl]">{{item.title}}</a></h3>
            <p class="para" [innerHTML]="item.summary"></p>
            <h4><a href="javascript:void(0)" [routerLink]="[item.linkUrl]">Read More</a></h4>
        </div>
        <div class="clear"></div>
    </div>
    <div class="grids_of_4">
        <div *ngFor="let item of portfolioPages.slice(4, 8)" class="grid_1_of_4 images_1_of_4">
            <a href="javascript:void(0)"><img src="" title="Project1" alt=""></a>
            <h3><a [routerLink]="[item.linkUrl]">{{item.title}}</a></h3>
            <p class="para" [innerHTML]="item.summary"></p>
            <h4><a href="javascript:void(0)" [routerLink]="[item.linkUrl]">Read More</a></h4>
        </div>
        <div class="clear"></div>
    </div>
</div>