<header>
  <nav class="navbar p-0">
    <a class="navbar-brand p-0" [routerLink]="['/cms/dashboard']">
      <img src="http://placehold.it/150x50?text=Logo" alt="">
    </a>
    <nav class="nav mr-auto">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/cms/dashboard']">Dashboard</a>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/cms/editor']">Editor</a>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/cms/admin']">Admin</a>
      <ng-content></ng-content>
    </nav>
  </nav>
</header>