<header>
  <nav class="navbar p-0">
    <a class="navbar-brand" [routerLink]="[adminPath + '/dashboard']"></a>
    <nav class="nav mr-auto">
      <a class="nav-link" routerLinkActive="active" [routerLink]="[adminPath + '/dashboard']">Dashboard</a>
      <a class="nav-link" routerLinkActive="active" [routerLink]="[adminPath + '/editor']">Editor</a>
      <a class="nav-link" routerLinkActive="active" [routerLink]="[adminPath + '/admin']">Admin</a>
      <ng-content></ng-content>
    </nav>
  </nav>
</header>
