.block-node {
  width: calc(100% - 20px);
  cursor: pointer;
  display: inline-block;

  &:hover {
    font-weight: bold;
    border-bottom: 1px solid #a4b7c1 !important;
  }
}

.toolbar {
  position: absolute;
  top: 0;
  right: 0;
}
