<div class="span_1_of_3">
    <h3>Latest Posts</h3>
    <a href="">
        <h5 class="fountain">Starting a new journey today</h5>
    </a>
    <a href="">
        <h5 class="fountain">The life of a web designer</h5>
    </a>
    <a href="">
        <h5 class="fountain">Your guide to navigating Around to wordoress</h5>
    </a>
    <a href="">
        <h5 class="fountain">introduction to HTML5 and CSS3</h5>
    </a>
    <a href="">
        <h5 class="fountain">The life of a web designer</h5>
    </a>
</div>