/* Website template by freewebsitetemplates.com */
/*------------------------------ HEADER ------------------------------*/
#header {
	float: none;
	position: relative;
	padding-bottom: 12px;
}
#sidebar {
	position: absolute;
	left: 0;
	top: 0;
}

/*------------------------------ CONTENTS ------------------------------*/

#featured ul {
	position: relative;
	left: -19px;
}

/** Menu **/
#menu-adbox {
	background-position: right 74px;
	height: 120px;
	margin: 0 0 6px; 
	padding-top: 274px;
}
