// Import Core UI style
@import 'assets/scss/style';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

select,
textarea,
input {
  &.ng-valid[required] {
    border-left: 5px solid #42A948;
    /* green */
  }

  &.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
  }
}

/* Draggable*/
.drag-border {
  border: #f57c82 dashed 2px;
}

/* Droppable */
.drag-hint-border {
  border: #3c763d dashed 1px;
  min-height: 20px;
}

.drag-over-border {
  border: #fbbc05 dashed 1px;
  min-height: 20px;
}

/* Sortable */
.drag-over-expand {
  transition: all .2s ease-in-out;
  transform: scale(1.05);
}
