<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">New page</h1>
    </div>
</div>
<div class="row">
    <!-- /.col-lg-4 -->
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group row">
                    <label for="content-name" class="col-sm-1">Name</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="content-name" [(ngModel)]="contentName" required #name="ngModel"/>
                        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                            Name is required
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-default pull-right">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- /.col-lg-4 -->
    <div class="col-lg-4" *ngFor="let contentType of contentTypes">
        <div class="panel panel-primary" (click)="createNewContent(contentType)">
            <div class="panel-heading">
                {{contentType.metadata.displayName}}
            </div>
            <div class="panel-body">
                <p>{{contentType.metadata.description}}</p>
            </div>
        </div>
    </div>
</div>