<div class='h-100'>
  <as-split gutterSize="0" unit="pixel" direction="vertical" class="has-lock-area">
    <as-split-area size="150" lockSize="true">
      <div class="container-fluid h-100 pt-2 bg-white">
        <form>
          <h3>New {{typeOfContent}}</h3>
          <div>
            <content-breadcrumb></content-breadcrumb>
          </div>
          <div class="form-group row">
            <div class="input-group col-sm-8">
              <div class="input-group-prepend">
                <span class="input-group-text">Name</span>
              </div>
              <input type="text" class="form-control" id="content-name" name="contentName" [(ngModel)]="contentName"
                required #name="ngModel" />
            </div>
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary float-right" (click)="onCancel()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </as-split-area>
    <as-split-area size="*" class='bg-light'>
      <div class='container-fluid pt-2 h-100'>
        <div class='mb-3' *ngFor="let group of contentTypeGroups">
          <div class='row'>
            <h5 class="col-lg-12">{{group.groupName}}</h5>
          </div>
          <div class="content-type-container">
            <div class="content-type-item card" *ngFor="let item of group.contentTypes"
              (click)="createNewContent(item)">
              <div class="card-body">
                <div class="h5 m-0">{{item.metadata.displayName}}</div>
                <div>{{item.metadata.description}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </as-split-area>
  </as-split>
</div>
