<div class='position-relative'>
  <cms-tree class="tree-root pl-1 pt-2 d-block" [root]="root" [config]="treeConfig"
    (nodeSelected)="pageSelected($event)" (menuItemSelected)="menuItemSelected($event)">
    <ng-template #treeNodeTemplate let-node>
      <span [title]="node.name + ' (Type: ' +node.contentType + ')'" class="text-truncate w-100"
        [ngClass]="{'page-node': node.id != '0', 'border-bottom': node.isSelected && node.id != '0'}">
        <fa-icon class="mr-1" *ngIf="node.id == '0'" [icon]="['fas', 'sitemap']"></fa-icon>
        <fa-icon class="mr-1" *ngIf="node.id != '0'" [icon]="['fas', 'file']"></fa-icon>
        {{node.name}}
      </span>
    </ng-template>
  </cms-tree>
  <a role="button" class="btn btn-xs btn-secondary mt-2 mr-1 new-page-link" href="javascript:void(0)"
    [routerLink]="['new/page']">
    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
  </a>
</div>
