<div class="h-100">
  <as-split gutterSize="0" unit="pixel" direction="vertical" class="has-lock-area">
    <as-split-area size="40" lockSize="true">
      <!-- Toolbar -->
      <content-toolbar [(editMode)]="editMode" [saveMessage]="saveMessage" [isPublishing]="isPublishing"
        [disabledPublish]="!(this.currentContent && this.currentContent.status == 2 && formId.valid)"
        [currentContent]="currentContent" (publish)="formId.ngSubmit.emit()">
      </content-toolbar>
    </as-split-area>
    <as-split-area size="*">
      <form class="m-0" (ngSubmit)="publishContent(formId)" [formGroup]="contentFormGroup" #formId="ngForm">
        <div class="row" *ngIf="editMode == 'AllProperties'">
          <div class="col-12">
            <!-- Header -->
            <content-header [currentContent]="currentContent" [typeOfContent]="typeOfContent"
              [formGroup]="contentFormGroup"></content-header>
          </div>
          <div class="col-12">
            <tabset>
              <tab *ngFor="let tabz of formTabs;" [heading]="tabz.title">
                <content-settings *ngIf="tabz.name == settingsGroup" [formGroup]="contentFormGroup"></content-settings>
                <ng-template [cmsInsertPoint]="tabz.name"></ng-template>
              </tab>
            </tabset>
          </div>
        </div>
      </form>
      <div class='h-100 iframe-container' *ngIf="editMode == 'OnPageEdit'">
        <iframe frameborder="0" width="100%" height="100%" [src]="previewUrl | safe: 'resource'"></iframe>
        <div [hidden]="showIframeHider === false" class="hack-iframe-hider"></div>
      </div>
    </as-split-area>
  </as-split>
</div>
