<div class="row">
    <div class="col-lg-12">
        <form (ngSubmit)="onSubmit()" [formGroup]="contentForm">
            <div class="card ">
                <div class="card-header ">
                    <dl class="row" *ngIf="currentContent">
                        <dt class="col-sm-3">Name</dt>
                        <dd class="col-sm-9">{{currentContent.name}}</dd>
                        <dt class="col-sm-3">Name in url</dt>
                        <dd class="col-sm-9">{{currentContent.urlSegment}}</dd>
                        <dt class="col-sm-3">Link url</dt>
                        <dd class="col-sm-9">{{currentContent.linkUrl}}</dd>
                        <dt class="col-sm-3">Type</dt>
                        <dd class="col-sm-9">{{currentContent.contentType}}</dd>
                    </dl>
                </div>
                <div class="card-body">
                    <ng-template cmsInsertPoint></ng-template>
                </div>
                <div class="card-footer ">
                    <button type="submit " class="btn btn-sm btn-primary">
                        <i class="fa fa-dot-circle-o "></i> Save as draft</button>
                    <button type="reset " class="btn btn-sm btn-success">
                        <i class="fa fa-ban "></i> Publish</button>
                </div>
            </div>
        </form>
    </div>
</div>