<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">New page</h1>
    </div>
</div>
<div class="row">
    <!-- /.col-lg-4 -->
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form (ngSubmit)="onSubmit()" [formGroup]="contentForm">
                    <ng-template cmsInsertPoint></ng-template>
                    <button type="submit" class="btn btn-success">Save as draft</button>
                    <button type="submit" class="btn btn-success">Publish</button>
                </form>
            </div>
        </div>
    </div>
</div>
