<div class="span_1_of_3">
    <h3>Contact Us</h3>
    <div class="footer_grid">
        <div class="foot_img">
            <img src="images/home.png" alt="">
        </div>
        <div class="foot_text">
            <p>500 Lorem Ipsum Dolor Sit,</p>
            <p>22-56-2-9 Sit Amet, Lorem,</p>
            <p>USA</p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="footer_grid">
        <div class="foot_img">
            <img src="images/call.png" alt="">
        </div>
        <div class="foot_text">
            <p>(416) 431-4437</p>
        </div>
        <div class="clear"></div>
    </div>
    <a href="">
        <h4 class="mail">info(at)mycompany.com</h4>
    </a>
    <div class="foot_nav">
        <ul>
            <li><a href="#"><img src="images/soc_icon1.png" alt=""></a></li>
            <li><a href="#"><img src="images/soc_icon2.png" alt=""></a></li>
            <li><a href="#"><img src="images/soc_icon3.png" alt=""></a></li>
            <li><a href="#"><img src="images/soc_icon4.png" alt=""></a></li>
            <div class="clear"></div>
        </ul>

    </div>
</div>