name: Build API package on PRs

on: 
  pull_request:
    paths:
      - 'cms-api/**'
      - '!cms-api/package-lock.json'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./cms-api
        
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]
    
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache Node.js modules
        uses: actions/cache@v2
        with:
          path: ~/.npm 
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

      - name: Install dependencies
        run: npm ci
        
      - name: Build packages
        run: |
          npm run build
